# General
.DS_Store
.vscode/
.idea/

# Node
node_modules/
dist/
build/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.*
!.env.example

# Kubernetes/Terraform local state
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Logs
*.log
